@media all and (min-width: 992px){
	.header-menu ul{
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
}


@media all and (max-width: 991px){
	.header-menu ul{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: first baseline;
		    -ms-flex-align: first baseline;
		            -ms-grid-row-align: first baseline;
		        align-items: first baseline;
		margin-top: 2rem;
		display:none;
	}
	.header-menu {
		-webkit-box-pack: left;
		    -ms-flex-pack: left;
		        justify-content: left;
	}
	.header-menu ul li {
		margin-bottom: 2rem;
	}
	.header-menu ul li a:after {
		bottom: -40%;
	}
	.logo-area {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.nav-icon{
		display: block;
	}
	.header-menu ul li a i{
		display: block;
	}
	.header-serch {
		display: none;
	}
	.header-menu .fas.fa-search.ss {
		display: block;
	}
	.watch-right,
	.pen-right {
		width: 100%;
		padding: 5rem 2rem 5rem 2rem;
	}
	
}





@media all and (max-width: 767px){
	.header-details {
		padding: 6rem 0 5rem 0;
	}
	.item-area {
		padding: 5rem 0 0 0;
	}
	.item-content h3 {
		margin-bottom: 1rem;
	}
	.item-area .container {
		width: 100%;
	}
	.ex-content p, .wicked-content p {
		width: 100%;
	}
	.wicked-area {
		padding: 5rem 0;
	}
	.ph-content {
		padding: 10rem 0 7rem 0;
	}
}


@media all and (max-width: 576px){
	.header-details h2 {
		font-size: 3rem;
	}
	.header-details {
		padding: 1rem 0 2rem 0;
	}
	.header-btn {
		padding: 2rem 0 1rem 0;
	}
	.ex-content h2, .wicked-content h2 {
		font-size: 2rem;
	}
	
	.ex-content p, .wicked-content p {
		padding: 1rem 0;
	}
	.ex-area {
		padding: 5rem 0;
	}
	.ph-content {
		padding: 5rem 0 5rem 0;
	}
	.ph-content h2 {
		font-size: 2.3rem;
	}
	.contact-content {
		padding: 5rem 0 5rem 0;
		color: #ffffff;
	}
	.contact-content p {
		width: 100%;
		margin: 1rem 0 1rem 0;
	}
}